<div class="row">
  <h3 class="panel-title">
    <%= @user.name %>
  </h3>
  <% user = current_user %>
  <p>パート：<%= @user.part %></p>
    <%= link_to 'ユーザー情報の編集', edit_user_path(current_user), class: "btn btn-success" %>
    <%= link_to '退会する', user, method: :delete, data: { confirm: '本当に退会してよろしいですか？(退会する前に自分が作成したスケジュールが存在しないようにしてください)' }, class: 'btn btn-danger' %>
</div>

<h3>使い方(基本編)</h3>
<ul>
  <li>「スケジュール一覧」で今後の東大フィルの練習予定が見られます。また、出欠を送れます。
  </br> - 仕様で出欠送信は上から順番にしかできません。出欠の選択肢「保留」などを適宜活用してください。</li>
  <li>出欠を送信すると予定の詳細と他の団員の出席状況が見られるようになります。</li>
  <li>送った出欠は「リセット」ボタンからいつでも取り消すことができます</li>
</ul>

<h3>使い方(応用編)</h3>
<ul>
  <li>このページからユーザー情報の編集とアプリからの退会ができます</li>
  <li>新規作成から練習予定を作成できます。
    </br> - イベント名と開始終了日時は入力必須です
    </br> - 作成したイベントは誰でも編集できますが、削除できるのは作成者だけです。</li>
  <li>作成したイベントはその当日を過ぎると自動的に削除されます。</li>
</ul>


<h2>注意！！</h2>
<ul>
  <li>スケジュール一覧の予定に一つも出欠を送っていないと自動的に「非表示状態」になります。
  </br> - 非表示状態になると、他の人から名前が見えなくなります。</li>
  <li>非表示状態が６ヶ月以上続くと、<b>自動的に退会処理が行われます</b>。</li>
</ul>
<% @users.each do |user| %>
  <% unless user.alive? %>
    <% if user.updated_at - Time.now + 6.month < 0 %>
      <% user.destroy %>
    <% end %>
  <% end %>
<% end %>

